{% extends "base.html" %}
{% block content %}
    <div class="min-vh-100 min-vw-100 d-flex container justify-content-center">
            <ul class="list-group justify-content-center">
                <li class="list-group-item">Zagraj w szachy</li>
                <a href="#" class="list-group-item list-group-item-action">Login</a>
                <a href="#" class="list-group-item list-group-item-action">Register</a>
                <a href="#" class="list-group-item list-group-item-action">About</a>
            </ul>

    </div>
{% endblock content %}