{% extends "base.html" %}
{% block content %}
{% load index %}
<h1>heeello, {{ user }}, {{ game }}</h1>


<br>
<br>
        {% for row in chessboard %}
            <div class="row">
                <div class="col- d-flex justify-content-center align-items-center" style='width: 40px; height: 120px; background-color: gray; border: 1px solid white; '>
                    <h4 style='color: white;'>{{ y|index:forloop.counter0 }}</h4>
                </div>
                {% for field in row %}
                    <div class="col- d-flex justify-content-center align-items-center" style='width: 120px; height: 120px; background-color: {{ field.get_colour }}; border: 1px solid white;'>
                        <h4 style='color: {{ field.chessman.get_colour }};'> {{ field.chessman.name }}</h4>
                    </div>
            
            

                {% endfor %}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col- d-flex justify-content-center align-items-center" style='width: 40px; height: 40px; background-color: gray; border: 1px solid white;'>
            </div>
            {% for pos in x %}
                <div class="col- d-flex justify-content-center align-items-center" style='width: 120px; height: 40px; background-color: gray; border: 1px solid white;'>
                <h4 style='color: white;'>{{ pos }}</h4>
                </div>

            {% endfor %}
        </div>
        {{ test }}
        <br>
        <ul class="list-group">
        {% for error in errors %}
            <li class="list-group-item">{{ error }}</li>
        {% endfor %}
       </ul>
{% endblock content %}